src/eEVM/build
src/eEVM/.ccache
src/eEVM/fuzz/build
src/eEVM/fuzz/out
src/eEVM/fuzz/out.bak
src/*/target
src/evm2cpp/contracts/*.combined.json
src/evm2cpp/target
src/ethmutator/target
results
out
builds
data/*/*.combined.json.out
data/*/*.meta.json
*.bak
data/multi/out/
.etherscan_api_key
efcf*.tar
efcf_out
efcf-build-cache

src/AFLplusplus/qemu_mode
src/AFLplusplus/unicorn_mode
src/AFLplusplus/unicorn_mode/unicornafl
src/AFLplusplus/custom_mutators/grammar_mutator/grammar_mutator
src/AFLplusplus/qemu_mode/qemuafl
src/AFLplusplus/custom_mutators/gramatron/json-c
src/AFLplusplus/utils/optimin/EvalMaxSAT
src/AFLplusplus/coresight_mode/patchelf
src/AFLplusplus/coresight_mode/coresight-trace
src/AFLplusplus/nyx_mode/libnyx
src/AFLplusplus/nyx_mode/QEMU-Nyx
src/AFLplusplus/nyx_mode/packer
